# Scooter Project

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
database_name = 'scooters'   

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

In [ ]:
connection_string

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT *
FROM scooters
LIMIT 3000000;
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [ ]:
with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
scooters.head()

In [ ]:
scooters.shape

In [ ]:
database_name = 'trips'   

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

In [ ]:
connection_string

In [ ]:
query = '''
SELECT *
FROM trips;
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [ ]:
with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

In [ ]:
trips.head()

In [ ]:
trips.shape

#  Data cleaning

checking null values in scooters and trips tables.

In [ ]:
scooters.isna().sum()

 Dealing with the missing data, I use dropna() function

In [ ]:
scooters.chargelevel.dropna()

Checking datatypes of data in both tables

In [ ]:
#Investigate any values that seem odd.

In [ ]:
scooters.info()

In [ ]:
trips.info()

    In trip table, startdate and enddate columns needs to be changed to datetime format

In [ ]:
startdate = pd.to_datetime(trips['startdate'])
startdate

In [ ]:
enddate = pd.to_datetime(trips['enddate'])
enddate

In [ ]:
#checking dtypes
trips.dtypes

In [ ]:
# Range of each  date columns

In [ ]:
scooters['pubdatetime'].describe()

    pubdatetime range is from 2019-07-25 04:19:43 to 2019-07-29 02:38:39.347000

In [ ]:
# trips table date time range

In [ ]:
trips['pubtimestamp'].describe()

pubtimestamp range is from 2019-05-01 00:00:55.423000 to 2019-08-01 07:04:00

In [ ]:
trips['create_dt'].describe()

Create_dt column from 2019-05-02 05:30:23.780000 to 2019-08-02 11:30:29.923000

In [ ]:
# we can use min() and max() function also

In [ ]:
# It is a 24 hour format.

In [ ]:
#trips['starttime'] = trips['starttime'].dt.strftime(strftime('%H:%M:%S.%f'))
#trips['starttime']

In [ ]:
# What values are there in the sumdgroup column?

    Values in the sumdgroup column are:

In [ ]:
scooters.sumdgroup.value_counts()

In [ ]:
# Are there any that are not of interest for this project?

    Yes, 986 have interest on bicyle

In [ ]:
# uniformity b/n scooters

In [ ]:
scooters.loc[scooters['sumdgroup'] != 'Scooter']

In [ ]:
# uniform by making first letter of scooter 's' captial

In [ ]:
scooters['sumdgroup'] = scooters['sumdgroup'].str.replace('scooter','Scooter')
scooters['sumdgroup']

In [ ]:
# perentage for this project

In [ ]:
scooters['sumdgroup'].value_counts(normalize = True)

In [ ]:
# What are the minimum and maximum values for all the latitude and longitude columns?

In [ ]:
scooters.describe()

In [ ]:
# scooters['latitude'].min() = 0.000000e+00

In [ ]:
# scooters['latitude'].max()= 3.629644e+01

In [ ]:
# scooters['longitude'].min()= -9.744388e+01

In [ ]:
#scooters['longitude'].max() =0.000000e+00

In [ ]:
# Do these ranges make sense, or is there anything surprising?

It doesn't make sense because the longitude values cannot execced below -90 degree.

In [ ]:
# What is the range of values for trip duration and trip distance? 
# Do these values make sense? Explore values that might seem questionable.

In [ ]:
trips['tripduration'].describe()

In [ ]:
trips['tripdistance'].describe()

Exploring values: seems like there are some outliers data on both columns.

In [ ]:
sns.boxplot(data = trips,
            x = 'tripdistance');

In [ ]:
sns.boxplot(data = trips,
            x = 'tripduration');

In [ ]:
# from both box plot there is an outliers

In [ ]:
x = trips['tripdistance'].to_frame()
x

In [ ]:
x.reset_index(drop = True).sort_values(by = 'tripdistance',ascending =False)

In [ ]:
# Check out how the values for the company name column in the scooters table compare to those of the trips table.
# What do you notice?

In [ ]:
scooters['companyname'].value_counts()

In [ ]:
scooters['companyname'].unique()

In [ ]:
trips['companyname'].value_counts()

In [ ]:
trips['companyname'].unique()

In [ ]:
# I noticed Bolt Mobility is only in trips 
# SPIN AND JUMP are in capitial letters as wel

Exploratory Analysis

In [ ]:
# Joining both_tables

In [ ]:
query = '''
SELECT *
FROM scooters inner join trips using (sumdid)
LIMIT 100000;
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [ ]:
with engine.connect() as connection:    
   both_tables = pd.read_sql(text(query), con = connection)

In [ ]:
both_tables.head()

In [ ]:
both_tables.shape

In [ ]:
# looking lime company,
# maxium tripdistance per scooter per day, sumdgroup, count of sumdgroup

In [ ]:
query = '''
SELECT tripdistance, max(tripdistance) as max_distance, sumdgroup, count(sumdgroup) as number_sumdgroup
FROM scooters inner join trips using (sumdid)
WHERE scooters.companyname = 'Lime'
   AND trips.companyname= 'Lime'
GROUP BY tripdistance, sumdgroup
LIMIT 100000;
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [ ]:
with engine.connect() as connection:    
   both_tables = pd.read_sql(text(query), con = connection)

In [ ]:
both_tables.shape

In [ ]:
#