In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
pip  install psycopg2-binary

In [ ]:
database_name = 'nashville_scooter'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT *
FROM scooters
LIMIT 3000000;
'''

In [ ]:
with engine.connect() as connection: 
    scooters = connection.execute(text(query))

In [ ]:
scooters.fetchone()

In [ ]:
import pandas as pd

In [ ]:
with engine.connect() as connection: 
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
scooters

In [ ]:
query = """
SELECT MAX(pubdatetime) AS max, MIN(pubdatetime) AS min
FROM scooters
WHERE companyname = Spin
LIMIT 3000000
"""

In [ ]:
PRINT

In [ ]:
query = """
SELECT * 
FROM trips
LIMIT 1000;
"""

In [ ]:
with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

In [ ]:
trips

In [ ]:
scooters.isna()

In [ ]:
trips.isna()

In [ ]:
query = """
SELECT MAX(pubdatetime) AS max, MIN(pubdatetime) AS min
FROM scooters
WHERE companyname = 'Spin'
LIMIT 3000000;
"""

In [ ]:
with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
query = '''
SELECT MAX(pubdatetime) AS max, MIN(pubdatetime) AS min
FROM scooters
WHERE companyname = 'Spin';
LIMIT 3000000
'''

In [ ]:
print

In [ ]:
bus_stops['geometry'] = bus_stops.apply(lambda x: Point((float(x.lng), 
                                                         float(x.lat))), 
                                        axis=1)
bus_stops.head(3)