In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
pip install psycopg2-binary

In [ ]:
database_name = 'nashville_scooter'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
>>> import sqlalchemy
>>> sqlalchemy.__version__

In [ ]:
i_df = pd.read_sql('SELECT * FROM scooters LIMIT 3', engine)

i_df

In [ ]:
import matplotlib.pyplot as plt

## example to see if plot works correctly with postgres

In [ ]:
i_df.plot.bar()

In [ ]:
time_stamp = pd.read_sql("SELECT MAX(pubdatetime) AS max, MIN(pubdatetime) AS min FROM scooters WHERE companyname = 'Spin' ", engine )

time_stamp

## The Max and MIN pubdatetime the min is 2019-05-15, and the MAX is 2019-07-31

In [ ]:
most_scooters = pd.read_sql("SELECT distinct companyname , COUNT(*) FROM trips group by companyname", engine)

most_scooters

## LIME has the most scooters in use with the total count of 225,694 all around Nashville

In [ ]:
lime_scooters = pd.read_sql("SELECT max(tripdistance) as max_distance, avg(tripduration) as avg_duration, sumdid (SELECT extract(day from pubtimestamp)as day)
FROM trips inner join scooters using(sumdid) 
WHERE scooters.companyname ='Spin'
	AND trips.companyname ='SPIN'
GROUP BY sumdid, day", engine )
                            
lime_scooters

In [ ]:
run_spin =pd.read_csv("../nashville-scooters-patches/csv_scooters_spin.csv.csv")

In [ ]:
run_spin

In [ ]:
run_spin['geometry'] = run_spin.apply(lambda x: Point((float(x.lng), 
                                                         float(x.lat))), 
                                        axis=1)
run_spin.head(3)