In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'    # Fill this in with your scooters database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [15]:
#The different companies
first_may = '''
SELECT *
FROM scooters
WHERE pubdatetime BETWEEN '2019-05-01%' AND '2019-05-15%';
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [11]:
result.fetchone()

(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136822'), Decimal('-86.799877'), 'PoweredLIRL1', 'Powered', Decimal('93.00'), 'scooter', Decimal('0.00'), 'Bird')

In [12]:
import pandas as pd

In [20]:
with engine.connect() as connection:    
    scooters = pd.read_sql(text(first_may), con = connection)

In [19]:
with engine.connect() as connection:    
    trips = pd.read_sql(text(first_may, con = connection)

SyntaxError: incomplete input (2219855947.py, line 2)

In [18]:
scooters.isnull().sum()

pubdatetime    0
latitude       0
longitude      0
sumdid         0
sumdtype       0
chargelevel    0
sumdgroup      0
costpermin     0
companyname    0
dtype: int64