In [ ]:
from sqlalchemy import create_engine, text
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
database_name = 'scooters'    # Fill this in with your scooters database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
#The different companies
bird_scooters = '''
SELECT *
FROM scooters
WHERE companyname = 'Bird';
'''

with engine.connect() as connection: result = connection.execute(text(bird_scooters))

In [ ]:
bird_trips = '''
SELECT *
FROM trips
WHERE companyname = 'Bird';
'''

with engine.connect() as connection: result = connection.execute(text(bird_trips))

In [ ]:
import pandas as pd

In [ ]:
with engine.connect() as connection:    
    bird_scooters = pd.read_sql(text(bird_scooters), con = connection)

In [ ]:
with engine.connect() as connection:    
    bird_trips = pd.read_sql(text(bird_trips), con = connection)

In [ ]:
bird_scooters.isnull().sum()

In [ ]:
bird_trips.isnull().sum()

In [ ]:
bird_scooters.dtypes

In [ ]:
bird_trips.dtypes

In [ ]:
bird_trips.head(10)

In [ ]:
bird_trips['month'] = pd.to_datetime(bird_trips['startdate']).dt.month_name()

In [ ]:
bird_trips['count']= 1

In [ ]:
birdtrips_by_month = bird_trips.groupby(['month']).count()

In [ ]:
birdtrips_by_month.to_csv('../data/birdtrips_by_month.csv')

In [ ]:
sns.barplot(x = 'month', y = 'count', data = bird_trips, estimator = sum)
plt.xlabel('Month')
plt.ylabel('Number of Scooters')
plt.title('Scooter Trips by Month')

In [ ]:
bird_trips['weekday'] = pd.to_datetime(bird_trips['startdate']).dt.day_name()

In [ ]:
bird_trips['count'] = 1

In [ ]:
trips_byday = bird_trips.groupby(['weekday']).count()

In [ ]:
trips_byday.to_csv('../data/birdtrips_by_weekday.csv')

In [ ]:
order = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
sns.barplot(x = 'weekday', y = 'count', data = bird_trips, estimator = sum, order = order)
plt.xlabel('Weekday')
plt.ylabel('Number of Scooters')
plt.title('Scooter Trips by Day')

In [ ]:
bird_trips.to_csv('../data/bird_trips.csv')

In [ ]:
bird_trips['tripduration'].mean()

In [ ]:
bird_trips['tripduration'].max()

In [ ]:
bird_trips.sort_values('tripduration')

In [ ]:
plt.plot(bird_trips.weekday, bird_trips.starttime)

In [ ]:
bird_trips['tripdistance'].mean()

In [ ]:
bird_trips['tripdistance'].max()

In [ ]:
bird_trips['tripdistance'].min()   #Why is it negative? Maybe something to look into

In [ ]:
bird_trips.sort_values('tripdistance')

In [ ]:
pd.to_datetime(bird_trips['startdate']).dt.day_name()

In [ ]:
num_rides = bird_trips['sumdid'].value_counts() #3616 unknown ids

In [ ]:
bird_trips.groupby('sumdid').mean('tripduration')

In [ ]:
len(pd.unique(bird_scooters['sumdid']))    #number of scooters in use by bird

In [ ]:
len(pd.unique(bird_trips['sumdid']))

In [ ]:
bird_trips

In [ ]:
pd.to_datetime(bird_trips['pubtimestamp']).hour()

In [ ]:
bird_trips.dtypes