In [5]:

import pandas as pd

import matplotlib.pyplot as plt

from sqlalchemy import create_engine, text
import seaborn as sns

In [6]:
database_name = 'scooter'    

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [7]:
engine = create_engine(connection_string)

In [8]:
query = '''
SELECT sumdid, starttime
FROM trips
WHERE companyname = 'Lime'
'''

with engine.connect() as connection: 
    start_times_lime = pd.read_sql(text(query), con = connection)

In [9]:
start_times_lime

                      sumdid starttime
0       PoweredW745F6EOTOGB6  08:34:34
1       PoweredUWPZODDQ4NYUB  12:02:42
2       PoweredWVIAXNCVDNOXP  18:05:24
3       PoweredHCMGSOJOHQR2Q  18:07:30
4       PoweredSGYUEYSI7FI3O  10:45:11
...                      ...       ...
225689  PoweredFHOKQWW5FXJS6  08:10:58
225690  PoweredWIUPNXR5V37TV  06:48:43
225691  PoweredFHHNQFACULDAS  08:09:23
225692  PoweredI5NSEK2GT26BB  08:26:43
225693  PoweredQZBS2Q665476B  08:24:41

[225694 rows x 2 columns]

In [10]:
start_times_lime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225694 entries, 0 to 225693
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   sumdid     225694 non-null  object
 1   starttime  225694 non-null  object
dtypes: object(2)
memory usage: 3.4+ MB

In [11]:
start_times_lime.dtypes

sumdid       object
starttime    object
dtype: object

In [14]:
start_times_lime.starttime = pd.to_datetime(start_times_lime.starttime)

TypeError: <class 'datetime.time'> is not convertible to datetime

In [ ]:
start_times_lime['day'] = start_times_lime['starttime'].dt.weekday